{%- set toc_ns = namespace(top_level_headings=0) %}

{% for toc_item in page.toc %}
    {% if toc_ns.top_level_headings is defined and toc_ns.top_level_headings > 1 %}
    <li class="toctree-l{{ navlevel + 1 }}"><a href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
    {% endif %}
    {% if toc_item.children %}
        <ul>
        {% for toc_item in toc_item.children %}
            <li><a class="toctree-l{{ navlevel + 2 }}" href="{{ toc_item.url }}">{{ toc_item.title }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}